<div id="meal_tracker_intro">
  <div class="text_desc">What did you eat today?</div>
  <%= form_tag({controller: "nutritions", action: "index"}, method: "get") do %>
    <%= text_field_tag(:keyword, params[:keyword]) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="graphs">
  <p>
    <strong>RESTRICTED TO AUTHENTICATED USERS ONLY !!!</strong>
    Curabitur luctus urna vitae massa aliquet, at malesuada 
    nisi lacinia. Mauris urna enim, vehicula sit amet eleifend 
    ac, hendrerit in purus. Nam et leo lorem. Donec sagittis 
    laoreet faucibus. Aenean nec facilisis lorem. In metus 
    tellus, facilisis a lorem nec, egestas malesuada mauris. 
    Duis pulvinar libero vel ipsum pretium, eget auctor mauris 
    pharetra. Morbi hendrerit elit ut imperdiet imperdiet. 
    Cras ac faucibus mi, vitae sollicitudin est.
  </p>
  
  <p>
    Cras dolor nulla, ultricies sed arcu id, dignissim interdum massa. 
    Vestibulum justo arcu, vehicula vel hendrerit eget, lobortis 
    in quam. Pellentesque pellentesque velit quis tellus ultricies 
    sagittis. Etiam sit amet velit quis diam sollicitudin dictum 
    non id neque. Nam non lacinia elit. Vestibulum elit turpis, 
    interdum ut ipsum eget, feugiat mollis purus. Donec fermentum 
    lobortis volutpat. Suspendisse mi justo, interdum pretium viverra eget, 
    faucibus a lacus. Nunc nisl ex, aliquet a sapien in, malesuada aliquam odio.
  </p>
</div>