<div id="meal_tracker_intro">
  <div class="text_desc">What did you eat today?</div>
  <%= form_tag({controller: "nutritions", action: "index"}, method: "get") do %>
    <%= text_field_tag(:keyword, params[:keyword]) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="graphs">
  <a href="graph/index">Click here to graph your recent calories</a>
  <svg id="graph"></svg>
  <script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
           type: "GET",
           contentType: "application/json; charset=utf-8",
           url: 'data',
           dataType: 'json',
           success: function (data) {
               draw(data);
           },
           error: function (result) {
               error();
           }
       });
    });
  </script>
</div>
