<div class="track_item">
  <div class="header">Calorie Count:</div>
  <div class="details"><%= calories_count %> kcal</div>
</div>

<% if get_todays_foods.any? %>
<div class="track_item">
  <div class="header">Today's Meals:</div>
  <div class="details">
    <% get_todays_foods.each do |x| %>
      <div class="food_item">
        <%= x["name"] %>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<% if current_weight.blank? %>
  <!-- need to put button to track weights... -->
<% else %>
<div class="track_item">
  <div class="header">Current Weight:</div>
  <div class="details"><%= current_weight %></div>
</div>
<% end %>