<h2>User Profile</h2>

<div>
  Email: <%= @user.email %>
</div>

<div>
  First Name: <%= @user.first_name %>
</div>

<div>
  Last Name: <%= @user.last_name %>
</div>

<div>
  Gender: <%= @user.gender %>
</div>