<h1>Welcome To Chomp</h1>
<p>The first step to a healthier life is registering an account.</p>
<h3>Let's get started!</h3>
<p>
  <strong>OPEN TO PUBLIC VIEWING!!!</strong>
  This page is supposed to be a splash page for public access.
  Curabitur libero justo, tempus et mauris nec, pharetra tincidunt elit. 
  Suspendisse potenti. Donec metus dolor, consectetur ut convallis id,
  porta non velit. Duis quis tempor enim, a consequat magna. Vivamus 
  consequat odio quis lorem dapibus cursus. Ut vulputate quam ut ligula 
  vestibulum, quis volutpat ligula ultrices. Mauris eget ultrices ante,
  sit amet dictum mauris. Curabitur vitae tincidunt libero. Donec id sem 
  nec mauris mattis imperdiet vitae nec ante. Fusce vestibulum mauris elit, 
  sit amet ultrices metus bibendum ullamcorper. Donec porttitor dictum 
  nulla quis blandit.
</p>
<p>
  Integer in metus non odio consequat convallis consequat nec odio. 
  Suspendisse nec porttitor dui. Duis at ultrices mauris, at imperdiet enim. 
  Nulla nibh risus, convallis et elit at, volutpat cursus ex. Cras aliquet 
  lorem id arcu imperdiet, eget consequat ex porta. Ut leo ex, congue sed 
  placerat id, pulvinar id massa. Donec sit amet convallis enim, non ultrices 
  urna. Nullam fringilla placerat bibendum. Praesent finibus placerat ipsum sit 
  amet suscipit. Aenean tempor odio sit amet porta elementum. Proin vel eros 
  odio. Sed diam massa, pharetra non viverra non, efficitur et odio. Praesent 
  accumsan dui sit amet pharetra sodales. Morbi eu diam risus. Sed consequat 
  mauris at volutpat eleifend.
</p>