#meal_tracker_intro {
  padding: 100px;
  background-color: #1abc9d;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  
  .text_desc {
    font-family: 'Josefin Slab', serif;
    font-size: 36px;
    line-height: 60px;
  }
  
  input {
    margin-top: 20px;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  input[type=submit] {
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    background-color: orange;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  input[type=submit]:hover {
    background-color: #CCCCCC;
    color: #333333;
  }
}

.graphs {
  margin: 20px 0;
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 20px;
}

.user_window {
  .profile {
    border-radius: 10px 10px 10px 10px;
    background-color: #CCC;
    padding: 20px;
    text-align:center;
    .name {
      padding: 10px;
      padding-bottom: 0;
      font-weight: bold;
    }
    .controls {
      padding: 10px;
    }
  }
  .track_header {
    margin-top: 10px;
    background-color: #CCC;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px 10px 0 0 ;
  }
  .track_list {
    border: 2px solid #CCC;
    border-radius: 0 0 10px 10px;
    .track_item {
      padding: 10px;
      border-bottom: 1px dashed #CCC;
      .header, .note {
        font-size: 11px;
        color: #999999;
      }
      .food_item {
        font-size: 11px;
      }
    }
    .track_item.last {
      border-bottom: none;
    }
    .track_controls {
      padding: 10px;
      text-align: center;
    }
  }
}

.extra_controls {
  margin-top: 20px;
}