<% content_for :title do %>
  Update Account
<% end %>

<%= render 'form' %>

<% content_for :footer do %>
  <button class="btn btn-primary" onclick="submit_account_form('edit')">Submit</button>
<% end %>
